[Unit]
Description=Pi Air Quality Monitor Service
After=network.target docker.service
Requires=docker.service

[Service]
Type=simple
User=pi
WorkingDirectory=${PAQM_DIR}
ExecStart=${PAQM_DIR}/paqm start
ExecStop=${PAQM_DIR}/paqm stop
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
