# paqm.service v1.1.1
[Unit]
Description=Pi Air Quality Monitor (docker-compose stack)
After=network-online.target docker.service
Wants=network-online.target
Requires=docker.service

[Service]
Environment=COMPOSE_PROJECT_NAME=pi_air_quality_monitor
Type=simple
User=pi
Group=docker
WorkingDirectory=${PAQM_DIR}
# Create log dir before docker-compose tries to write
ExecStartPre=/bin/mkdir -p /tmp/sensor_logs
ExecStartPre=/usr/bin/docker-compose down
ExecStartPre=/bin/sleep 5
ExecStart=/usr/bin/docker-compose up
ExecStop=/usr/bin/docker-compose down
Restart=on-failure
RestartSec=15
StandardOutput=append:/tmp/sensor_logs/paqm-systemd.log
StandardError=append:/tmp/sensor_logs/paqm-systemd.log

[Install]
WantedBy=multi-user.target
